input {
  border: none;
  outline: none;
}
.m-limit-header {
  height: 1.2rem;
  text-align: center;
  background: #ffffff;
  line-height: 1.2rem;
}
.m-limit-header .m-limit-title {
  position: relative;
}
.m-limit-header .m-limit-title p {
  font-size: 0.42666667rem;
}
.m-limit-title::before {
  content: '';
  display: inline-block;
  width: 0.26666667rem;
  height: 0.26666667rem;
  border-top: 0.0533rem solid #ccc;
  border-left: 0.0533rem solid #ccc;
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}
.m-limit-banner {
  padding: 5%;
  text-align: center;
  background: #ffffff;
}
.m-limit-banner .m-limit-radius {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
  position: relative;
}
.m-limit-banner .m-limit-radius .m-limit-radius-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.m-limit-banner .m-limit-radius .m-limit-radius-text p {
  color: #666666;
  font-size: 0.42666667rem;
}
.m-limit-banner .m-limit-suggest {
  color: #b2b2b2;
}
.m-limit-item-area {
  margin-bottom: 2.66666667rem;
}
.m-limit-item .m-limit-item-title {
  padding: 0 5%;
  background: #f4f5f6;
  color: #63666c;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
.m-limit-item .m-limit-item-title p {
  font-size: 0.32rem;
}
.m-limit-item .m-limit-item-info {
  padding: 0 5%;
  background: #ffffff;
  height: 1.46666667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.4rem;
}
.m-limit-item .m-limit-item-info p:nth-child(2) {
  font-size: 0.37333333rem;
  color: #999;
}
.m-limit-item .m-limit-item-info input {
  font-size: 0.4rem;
  width: 2.13333333rem;
}
.m-limit-item .m-limit-item-info.pledge-all {
  height: auto;
}
.m-limit-item .m-limit-item-info.pledge-all .m-limit-item-right input {
  display: block;
  width: 3.5rem;
  padding: .1rem 0;
}
.m-limit-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f37937;
  width: 100%;
  height: 1.33333333rem;
  text-align: center;
  line-height: 1.33333333rem;
}
.m-limit-footer input[type="submit"] {
  color: #FFF;
  font-size: 0.4rem;
  border: none;
  background: none;
}
.error-block {
  display: none;
  text-align: center;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
}
.error-block.active {
  display: block;
  color: red;
}
